pipeline/pipeline dynamic.json
{
	"name": "pipeline dynamic",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": []
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('tableNames')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": []
						}
					]
				}
			}
		],
		"variables": {
			"schemaName": {
				"type": "String",
				"defaultValue": "ext"
			},
			"truncateFirst": {
				"type": "Boolean",
				"defaultValue": "1"
			},
			"tableNames": {
				"type": "Array",
				"defaultValue": [
					"{'Customer'",
					"'Booking'",
					"'Product'}"
				]
			},
			"tableList": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}